<div class="carousel-container">
    <div class="carousel-track">
        <!-- Ícones das ferramentas -->
        <div class="icon-container"
             *ngFor="let tool of tools">
            <img [src]="tool.icon"
                 [alt]="tool.name"
                 class="icon" />
        </div>
        <!-- Duplicação para o efeito de loop infinito -->
        <div class="icon-container"
             *ngFor="let tool of tools">
            <img [src]="tool.icon"
                 [alt]="tool.name"
                 class="icon" />
        </div>
    </div>
</div>