.body-footer {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: var(--background-color);
}

.container-footer {
    width: 80%;
    max-width: 1160px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.informations-block-footer {
    width: 100%;
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-image: radial-gradient(var(--font-color), var(--background-color)) 1;
}

.container-text-infos-footer,
.container-social-networks-footer,
.container-contacts-footer {
    width: 50%;
    min-height: 50px;
}

.title-text-infos-footer {
    width: 100%;
    font-weight: 600;
    color: var(--font-color);
    font-size: 16px;
}

.text-infos-footer {
    width: 100%;
    max-width: 320px;
    margin-top: 16px;
    color: var(--font-color);
    font-size: 14px;
    font-weight: 300;
    height: 64px;
}

.socialNetwork-buttons-container {
    display: flex;
    margin-top: 16px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.container-address-footer {
    display: flex;
}

.icon-address-footer {
    margin-top: 8px;
}

.text-infos-2-footer {
    height: 32px;
    margin: 0 8px;
    margin-top: 8px;
    display: flex;
    align-items: center;
    color: var(--font-color);
    margin-right: 20px;
}

.icon-address-footer,
.container-phone-footer,
.icon-mail-footer {
    height: 32px;
}

.blocks-contacts-footer {
    height: 80px;
    margin-top: 16px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.container-phone-footer {
    display: flex;
    height: 32px;
    width: 200px;
    margin-bottom: 8px;
}

.text-phone-footer,
.text-mail-footer {
    height: 32px;
    margin-left: 8px;
    display: flex;
    align-items: center;
    color: var(--font-color);
}

.container-mail-footer {
    display: flex;
    height: 32px;
    width: 320px;
}

.rights-block-footer {
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--font-color);
    font-size: 12px;
}

@media screen and (max-width: 1299px) {
    .informations-block-footer {
        height: 320px;
    }
}