button {
  /* border: none;
  border-radius: 24px;

  font-family: var(--font-style-1);*/
  padding: 12px 20px;
  background-color: var(--bg-theme-button);
  /* ::ng-deep .mdc-button__label {
  color: var(--white) !important;
  } */
}
