<header class="body df-all-center"
[ngClass]="{'background': isVisible()}">
    <div class="container">

        <div class="title">
            Gabriel Nonnemacher
        </div>

        <div class="menu"
             (click)="onClickMenu()">
            <img [ngClass]="{iconShow: !openNavHeaderMobile(), iconHide: openNavHeaderMobile()}"
                 src="../../../assets/images/menuIcon.svg"
                 alt="Button menu">

            <img [ngClass]="{iconShow: openNavHeaderMobile(), iconHide: !openNavHeaderMobile()}"
                 src="../../../assets/images/deleteIcon.svg"
                 alt="Button menu">
        </div>

        <NavHeaderDesktop class="navDesktop"
                          [items]="buttonsHeader()">
        </NavHeaderDesktop>
    </div>
</header>

<NavHeaderMobile [openNavHeaderMobile]="openNavHeaderMobile()"
                 [firstEnter]="firstEnter()"
                 [items]="buttonsHeader()">
</NavHeaderMobile>