.body-header {
    height: 64px;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: var(--background-color);
}

.container-header {
    width: 80%;
    max-width: 1160px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.name-header,
.name-header-simple {
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 32px;
    font-family: var(--font-name);
    color: rgb(245, 245, 245);
    background-color: var(--background-color);
}

.name-header-simple {
    display: none;
}

.container-buttons-header {
    height: 100%;
    width: 360px;
    display: flex;
    justify-content: space-between;
}

.icon-menu {
    display: none;
}

.icon-menu:focus {
    .line-center-icon-menu {
        display: none;
    }
}

.line-icon-menu{
    width: 100%;
    height: 5px;
    border-radius: 8px;
    background-color: rgb(245, 245, 245);
}

@media screen and (max-width: 872px) {
    .name-header {
        display: none;
    }

    .name-header-simple {
        display: flex;
    }
}

@media screen and (max-width: 648px) {
    .container-header {
        justify-content: space-between;
    }

    .container-buttons-header {
        display: none;
    }

    .icon-menu {
        height: 32px;
        width: 32px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
        border: none;
        background-color: var(--background-color);
    }
}