<div class="body-header">
    <div class="container-header">
        <div class="name-header">
            Gabriel Nonnemacher
        </div>

        <div class="name-header-simple">
            Gabriel
        </div>

        <div class="container-buttons-header">
            <Button-Header *ngFor="let button of contentButtonsHeader"
                           title="{{button.title}}">
            </Button-Header>
        </div>

        <button class="icon-menu">
            <div class="line-icon-menu"></div>
            <div class="line-icon-menu line-center-icon-menu"></div>
            <div class="line-icon-menu"></div>
        </button>
    </div>
</div>