.body {
    height: 80px;
    width: 100%;
    position: relative;
    background-color: var(--BACKGROUND-002);
    border-bottom: 4px solid var(--COLOR-VIOLET-001);
    box-shadow: 0px 6px 16px 0px rgba(95, 16, 131, 0.2);
}

.container {
    height: 100%;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title {
    font-size: 32px;
    font-family: var(--FONT-002);
    color: var(--COLOR-001);
}

.menu {
    display: none;
}

.iconShow,
.iconHide {
    display: none;
}

@media screen and (max-width: 1000px) {
    .title {
        font-size: 24px;
    }
}
@media screen and (max-width: 800px) {
    .navDesktop {
        display: none;
    }

    .menu {
        display: flex;
        position: relative;
        cursor: pointer;
        height: 24px;
    }

    .iconHide {
        position: absolute;
        display: flex;
        opacity: 0;
        height: 24px;
        top: 0px;
        right: 2px;
    }

    .iconShow {
        position: absolute;
        display: flex;
        opacity: 1;
        height: 24px;
        top: 0px;
        right: 0px;
    }
}