.body-certificates {
    width: 100%;
    display: flex;
    justify-content: center;
    color: aliceblue;
    background-color: var(--background-color-2);
}

.container-certificates {
    width: 80%;
    max-width: 1160px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-certificates {
    height: 144px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    font-weight: 600;
    font-family: var(--font-poppins);
}

.medal-icon {
    margin-left: 8px;
    height: 48px;
}

.container-slides {
    width: 100%;
    height: calc(50vw - 60px);
    max-height: 750px;
    padding: 0px 64px;
    margin-bottom: 88px;
    position: relative;
}

@media screen and (max-width: 880px) {
    .title-certificates {
        margin-top: 24px;
        height: 80px;
    }
}
