<section class="body-certificates">
    <div class="container-certificates">
        <h2 class="title-certificates">Certificates</h2>

        <div class="container-certificates-cards">
            <ButtonNext></ButtonNext>

            <div class="grad-certificates-images">
                <CardCertificate path="{{certificate.path}}"
                                 name="{{certificate.name}}"
                                 info="{{certificate.info}}">
                </CardCertificate>
            </div>

            <ButtonNext></ButtonNext>
        </div>
    </div>
</section>