<section class="body-home">
    <div class="container-home">
        <div class="container-text-home">
            <p class="f-24">{{text.greeting}}</p>
            <p class="f-40 name-autor">{{text.nameAuthor}}</p>
            <p class="f-24">{{text.work}}</p>
            <p class="f-16">{{text.description}}</p>
        </div>

        <div class="container-image-home">
            <img src="../../../assets/images/image.png"
                 alt="Image from Author the site"
                 class="image-home">
        </div>
    </div>
</section>