<div class="container-box-project">
    <div class="container-image-box-project">
        <img src="{{project.image}}"
             alt="image project"
             class="image-box-project">

        <a href="{{project.link}}"
           target="_blank"
           class="view-more-box-project">
            <span class="text-view-more-box-project">View more</span>
            <mat-icon>launch</mat-icon>
        </a>
    </div>

    <div class="container-text-box-project">
        <p class="title-box-project">
            {{project.name}}
        </p>

        <p class="description-box-project">
            {{project.text}}
        </p>
    </div>
</div>