.container-box-project {
    height: 368px;
    width: 360px;
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    margin: 0 40px 48px;
    background-color: rgb(255, 255, 255);
    box-shadow: 16px 16px 16px 0px #212121c4;
}

.container-image-box-project {
    width: 100%;
    height: 216px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

.image-box-project {
    max-height: 120px;
}

.view-more-box-project {
    height: 28px;
    padding: 0 8px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-radius: 8px;
    color: #ffffff;
    right: 8px;
    top: 8px;
    transition: all 0.8s;

    .text-view-more-box-project {
        display: none;
    }
}

.view-more-box-project:hover {
    background-color: #2a2a2a32;

    .text-view-more-box-project {
        display: flex;
        animation: animationViewMore 0.8s;
    }
}

.container-text-box-project {
    width: 100%;
    height: 152px;
    padding: 8px 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    border-bottom-right-radius: 16px;
    border-bottom-left-radius: 16px;
    background-color: white;
}

.title-box-project {
    font-weight: 600;
    font-size: 18px;
    color: var(--background-color-2);
    margin: 0 0 8px;
}

.description-box-project {
    font-weight: 500;
    font-size: 14px;
    color: rgb(95, 93, 93);
}

@keyframes animationViewMore {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@media screen and (max-width: 944px) {
    .container-box-project {
        width: 280px;
        margin: 0 24px 48px;
    }
}