<section class="body"
         id="home">
    <img src="../../../assets/images/background.webp"
         alt=""
         class="bg-image">
    <div class="image-filter"></div>

    <div class="container">
        <div class="home">
            <h2>
                Gabriel <br> Nonnemacher
            </h2>

            <p>
                Engenheiro da Computação e Desenvolvedor de Software, apaixonado por tecnologia.
            </p>

            <div class="button">
                <MainButton (onClick)="scrollToAbout()"></MainButton>
            </div>
        </div>

        <div class="image">
            <img src="../../../assets/images/home.svg"
                 alt="Image from author">
        </div>
    </div>
</section>