<section class="body">
    <img src="../../../assets/images/background.webp"
         alt=""
         class="ig">
    <div class="igg"></div>

    <div class="container">
        <div class="home">
            <h2>
                Gabriel Nonnemacher
            </h2>

            <p>
                Sou Engenheiro da Computação e Desenvolvedor Full Stack, apaixonado por tecnologia.
            </p>

            <p>
                Meu site oferece acesso a todo o material do meu portfólio, incluindo projetos e informações de contato.
            </p>

            <div class="button">
                <MainButton (onClick)="scrollToAbout()"></MainButton>
            </div>
        </div>

        <div class="image">
            <img src="../../../assets/images/home.svg"
                 alt="Image from author">
        </div>
    </div>
</section>