.body {
    height: calc(100vh - 82px);
    width: 100%;
    display: flex;
    justify-content: center;
}

.container {
    height: 100%;
    width: 80%;
    display: flex;
}

.home,
.image {
    height: 100%;
    display: flex;
}

.home {
    width: 65%;
    justify-content: center;
    flex-direction: column;
    color: var(--COLOR-001);
    font-family: var(--FONT-001);
}

.home>h2 {
    font-size: 56px;
    line-height: 56px;
    font-weight: 500;
    font-family: var(--FONT-004);
    margin: 8px 0 16px;
}

.home>p:first-child {
    font-size: 32px;
    font-weight: 400;
    font-family: var(--FONT-001);
}

.home>p:nth-child(3) {
    display: flex;
    flex-wrap: wrap;
    font-size: 16px;
    font-weight: 300;
    font-family: var(--FONT-001);
    color: rgba(255, 255, 255, 0.747);
    margin-bottom: 8px;
}

.home>.button{
    margin-top: 24px;
    width: 224px;
}

.image {
    width: 35%;
    align-items: center;
    justify-content: flex-end;
}

div>img {
    max-width: 95%;
}

.container-buttons-contacts {
    margin-top: 64px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 360px;
}