<section class="body">
    <div class="container">
        <div class="home">
            <p>Eu sou</p>

            <h2>
                Gabriel <br /> Nonnemacher
            </h2>

            <p>
                Engenheiro da Computação e
                Desenvolvedor Full Stack
            </p>

            <div class="button">
                <MainButton (onClick)="scrollToAbout()"></MainButton>
            </div>

            <SocialMediaButtons class="container-buttons-contacts"
                                [items]="socialMedias()">
            </SocialMediaButtons>
        </div>

        <div class="image">
            <img src="../../../assets/images/myPicture.svg"
                 alt="Image from author">
        </div>
    </div>
</section>