<section class="apresentation">
  <div class="front-apresentation content-container">
    <div class="text-apresentation">
      <p class="congratulation-apresentation">Olá!</p>

      <h1>Sou Gabriel Nonnemacher</h1>

      <p class="apresentation-apresentation">Desenvolvedor de software com soluções que impulsionam negócios e otimizam experiências digitais.</p>
    </div>

    <div class="image-author">
      <img src="images/author.jpg"
           alt=""
           disabled>
    </div>
  </div>
</section>
