<section class="about" id="about">
  <div class="container">
    <div class="content-container">
      <div class="title">
        <h2>Sobre mim</h2>
      </div>

      <div class="about-box-text">
        <div class="about-text">
          Me chamo Gabriel Nonnemacher e moro em Harmonia, Rio Grande do Sul.
          Estou cursando Engenharia da Computação na Universidade FEEVALE e me
          aproximo da reta final da graduação. Trabalho como desenvolvedor na
          CWI Software há mais de três anos, atuando no time que atende o
          cliente Banco ABC Brasil. Minha experiência é focada em Angular,
          atuando em um projeto de Micro Frontends.
        </div>

        <div class="about-text">
          Sempre estou em busca de evolução profissional e técnica, com um
          interesse especial por arquitetura de software e concepção de
          sistemas. Meu objetivo é aprofundar meus conhecimentos nessas áreas,
          contribuindo para o desenvolvimento de soluções mais escaláveis,
          eficientes e inovadoras.
        </div>
      </div>

      <div class="contact-me-linkedin">
        <h2>Conheça melhor meu perfil</h2>

        <lp-main-button [link]="link" class="button"></lp-main-button>
      </div>
    </div>
  </div>
</section>
