<div id="tools">
  <div class="container tools">
    <div class="content-container">
      <div class="title">
        <h2>Ferramentas</h2>

        <div class="description">
          Utilizo um conjunto de ferramentas que auxiliam na construção de
          software, desde o planejamento inicial até a execução final. Essas
          soluções me ajudam a garantir mais organização, agilidade e precisão
          nos processos, melhorando a qualidade e eficiência do produto.
        </div>
      </div>
    </div>
  </div>

  <div class="container-carousel">
    <lp-carousel></lp-carousel>
  </div>
</div>
