.experience {
  min-height: 680px;
  padding: 88px 0;

  .title {
    width: 100%;
    padding: 16px 0;
    margin-bottom: 40px;
    text-align: center;
    color: var(--font-color-default);
    font-family: var(--font-style-1);
    font-size: var(--font-sz-xlg);
  }
}
