<section class="body"
         id="about">
    <div class="container">
        <div class="side-left">
            <img src="../../../assets/images/myPicture.svg"
                 alt="Picture of the Author">
        </div>

        <div class="side-right">
            <div class="header">
                <p>Sobre</p>

                <h2>Sobre mim</h2>
            </div>

            <div class="text">
                <p>
                    Olá sou Gabriel Nonnemacher, <strong>Desenvolvedor Full-Stack</strong>, nasci em 22 de agosto de 2001 e moro na cidade de Harmonia-RS. Estou cursando <strong>Engenharia da Computação</strong> na faculdade FEEVALE, onde minha dedicação acadêmica foi reconhecida com uma bolsa do ENEM. Iniciei minha carreira como desenvolvedor na CWI Software no ano de 2022, onde atuo até hoje como desenvolvedor Front-end em um sistema de gestão de financiamentos globais para <strong>Banco DLL</strong>.
                </p>
            </div>
        </div>
    </div>
</section>