<section class="body"
         id="about">
    <div class="container">
        <div class="side-left">
            <img src="../../../assets/images/myPicture.svg"
                 alt="Picture of the Author">
        </div>

        <div class="side-right">
            <div class="header">
                <p>Sobre</p>

                <h2>Sobre mim</h2>
            </div>

            <div class="text">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias tenetur sit quidem? Corporis mollitia impedit debitis consequuntur doloribus, nobis, amet delectus saepe fuga, earum rerum corrupti animi alias eaque consequatur!</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor sit eveniet minima, nulla, nemo, ea provident fuga veritatis perferendis nesciunt ducimus quaerat tempora totam sequi! Architecto laudantium ducimus quibusdam alias?</p>           </div>
            <!-- <p>Sou Gabriel Nonnemacher, nasci em 22 de agosto de 2001 e atualmente moro em Harmonia, Rio Grande do Sul, Brasil. Estudei durante o ensino fundamental em escolas da cidade de Harmonia, em sequência o ensino médio foi completado no Colégio Sinodal Progresso, em que estudei como bolsista através da música.</p>
            <p>Concluído o ensino médio, avancei para a Engenharia da Computação na faculdade Feevale, onde minha dedicação acadêmica foi reconhecida com uma bolsa do ENEM. Paralelamente a isso, minha carreira como desenvolvedor na CWI me proporciona uma valiosa experiência prática e cognitiva, especialmente trabalhando para o Banco DLL.</p>
            <p>Neste site, compartilho meu portfólio de projetos, destacando minhas habilidades em programação, design e resolução de problemas. Dê uma olhada nos meus trabalhos anteriores, mergulhe nos projetos atuais em que estou envolvido e descubra como minhas habilidades podem agregar valor.</p> -->
        </div>
    </div>
</section>