.body {
    height: calc(100vh - 82px);
    width: 100%;
    display: flex;
    justify-content: center;
}

.container {
    height: 100%;
    width: 80%;
    display: flex;
}

.about,
.image {
    height: 100%;
    display: flex;
}

.about {
    width: 65%;
    justify-content: center;
    flex-direction: column;
    color: var(--COLOR-001);
    font-family: var(--FONT-001);
}

.about>h2 {
    font-size: 64px;
    line-height: 64px;
    font-weight: 600;
    font-family: var(--FONT-003);
    margin: 8px 0 12px;
}

.about>p:first-child {
    font-size: 40px;
    font-weight: 300;
    font-family: var(--FONT-003);
}

.about>p:nth-child(3) {
    display: flex;
    flex-wrap: wrap;
    font-size: 24px;
    font-weight: 400;
    font-family: var(--FONT-003);
    margin-bottom: 24px;
}

.about>p:nth-child(n+4) {
    font-size: 14px;
    max-width: 580px;
}

.about>.button{
    margin-top: 24px;
    width: 320px;
}

.image {
    width: 35%;
    align-items: center;
    justify-content: flex-end;
}

img {
    max-width: 95%;
}