<section class="body">
    <div class="container">
        <div class="about">
            <p>Eu sou</p>

            <h2>
                Gabriel<br /> 
                Nonnemacher
            </h2>

            <p>
                Engenheiro da Computação e <br />
                Desenvolvedor Full Stack
            </p>

            <div class="button">
                <MainButton>
                </MainButton>
            </div>
            

           <!--  <p>
                Aqui você conhecerá uma parte do meu universo, conquistas, projetos e
                aprendizados adquiridos até então. Espero te impactar positivamente, meus
                contatos estarão disponíveis para qualquer dúvida.
            </p> -->
        </div>

        <div class="image">
            <img src="../../../assets/images/myPicture.svg"
                 alt="Image from author">
        </div>
    </div>
</section>