.body-button-footer {
    width: 56px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background-color-2);
    cursor: pointer;
    border: none;
    border-radius: 50%;
    transition: 0.6s all;
}

.body-button-footer:hover {
    background-color: var(--hover-color);
}

.container-image-button-footer {
    max-height: 24px;
}

.content-button-footer {
    height: 20px;
}