.li-button-header {
    list-style-type: none;
}

.body-button-header {
    height: 72px;
    width: 104px;
    border: none;
    cursor: pointer;
    position: relative;
    background-color: var(--background-color);
}

.content-button-header {
    font-size: 14px;
    color: rgb(245, 245, 245);
}

.hover-button-header {
    display: none;
    height: 4px;
    width: 100%;
    position: absolute;
    bottom: 0px;
    border-radius: 8px;
    background-color: rgb(245, 245, 245);
    transition: 0.6 all;
}

.body-button-header:hover {
    .hover-button-header {
        display: flex;
        animation: lineAnimationButtonHeader 1.2s;
    }
}

@keyframes lineAnimationButtonHeader {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}