@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
    --BACKGROUND-001: #170f22;
    --BACKGROUND-002: #130D1C;
    --FONT-001: 'Poppins', sans-serif;
    --FONT-002: 'Satisfy', cursive;
    --FONT-003: 'Noto Sans', sans-serif;
    --COLOR-001: #FFFFFF;
    --COLOR-VIOLET-001: #5e0a9e;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scrollbar-color: var(--COLOR-VIOLET-001) var(--BACKGROUND-002);
    scrollbar-width: thin;
}

.line {
    width: 100% !important;
    height: 2px !important;
    background: linear-gradient(90deg, rgba(76, 4, 109, 0.00) -0.01%, #4C046D 48.96%, rgba(76, 4, 109, 0.00) 97.57%);
}

.df-all-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--COLOR-VIOLET-001);
    border-radius: 3px;
}

::-webkit-scrollbar-track {
    background-color: var(--BACKGROUND-002);
}